* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-layout {
    display: flex;
    flex-direction: row;
    padding: 0px;
    overflow: hidden; 
    width: 100vw;
    flex-grow: 1;
}

.sidebar {
    position: center;
    width: 150px;
    min-width: 150px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd; 
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    height: 100%; 
    overflow-x: hidden; 
    overflow-y: auto;
}

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw; 
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%; 
        margin-bottom: 20px; 

    }

    .content {
        width: 100%; 

    }
}

.sidebara {
    background-image: url('/public/Sidebar - kopie.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire sidebar */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 250vh; /* Set a fixed width for the sidebar */
    height: 100vh; /* Make the sidebar take the full height of the viewport */
    padding: 1rem; /* Optional: Add some padding */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    border-right: 1px solid #d3d3d3; /* Add a border to the right */
    overflow-y: auto;
    overflow-x: hidden;
}
