* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-layout {
    display: flex;
    flex-direction: row;  
    padding: 0px;
    overflow: hidden; 
    width: 100vw;
    flex-grow: 1;
}

.sidebar {
    position: center;
    width: 150px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd; 
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    height: 100%; 
    overflow-x: hidden; 
    overflow-y: auto;
}

.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw; 
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .content {
        width: 100%; 
    }
}
