.vehicle-details {
    padding: 20px;
    text-align: center;
    align-content: center;
    color: black;
}

.vehicle-info {
    margin-bottom: 20px;
}

.vehicle-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

    .vehicle-pictures img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.6);
        transition: ease-in-out 0.5s;

    }

        .vehicle-pictures img:hover {
            width: 220px;
            height: 220px;
        }
